body, html {
    padding: 0;
    margin: 0;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

header {
    position: relative;
    z-index: 15;
    background: #eda29b;
    text-align: center;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.05),0 1px 4px 0 rgba(0,0,0,.2), 0 3px 1px -2px rgba(0,0,0,.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px;
}

nav ul li {
    background: #f2d367;
    width: 50%;
    float: left;
}

nav ul li:nth-child(4n), nav ul li:nth-child(4n-3) {
    background: #e17555;
}

nav ul li a {
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    color: #e07556;
    font-size: 16px;
    text-decoration: none;
}

nav ul li:nth-child(4n) a, nav ul li:nth-child(4n-3) a{
    color: #9c3c53;
}

