.song-request-button {
  background-color: blue;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.song-request-button:hover {
  background-color: purple;
}
